*{
  font-family: 'DroidSansM Nerd Font Propo';
  font-size: 10pt;
  font-weight: 700;
  min-height: 0;
  border-radius: 0;
}

tooltip {
  background: #202020;
  border-radius: 15px;
  border: 2px solid #89b482;
}

#window {
  border-radius: 20px;
  color: #ddc7a1;
  margin-left: 10px;
  margin-right: 10px;
}
window#waybar {
  background-color: transparent;
  color: #ddc7a1;
  border-radius: 20px;
}

/*#workspaces {
  padding: 1px 1px 1px 1px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}*/


#workspaces button {
  padding: 1px;
  background:none;
  border: none;
}

#workspaces button.visible {
  color: #e78a4e;
}

#workspaces button.empty {
  color: #ddc7a1;
}

#workspaces button.active {
  color: #e78a4e;
}

#workspaces button.urgent {
  color: #ea6962;
}

#workspaces button:hover{
  border-radius: 50px;
  background: #bdae93;
  color: #fbf1c7;
}

.modules-left {
  background: linear-gradient(45deg, #202020, #202020) padding-box, linear-gradient(45deg, #7daea3, #d3869b) border-box;
  border: 2px solid transparent;
  border-radius: 25px;
  color: #ddc7a1;
  /*margin: 10px 0 10px 5px;*/
  margin: 0 0 0 0;
  padding: 5px 15px 5px 5px;  /*up,right,down,left   */
}

.modules-center {
  background: linear-gradient(180deg, #202020, #202020) padding-box, linear-gradient(180deg, #7daea3, #d3869b) border-box;
  border: 2px solid transparent;
  border-radius: 25px;
  color: inherit;
  /*margin: 10px 0 10px 0;*/
  margin: 0 0 0 0;
  padding: 5px 15px 5px 15px;  /*up,right,down,left   */
}

.modules-right {
  background: linear-gradient(135deg, #202020, #202020) padding-box, linear-gradient(135deg, #d3869b, #7daea3) border-box;
  border: 2px solid transparent;
  border-radius: 25px;
  color: inherit;
  /*margin: 10px 5px 10px 0;*/
  margin: 0 0 0 0;
  padding: 5px 5px 5px 10px;  /*up,right,down,left   */
}

#custom-notifications,
#clock,
#idle_inhibitor,
#keyboard-state,
#battery,
#power-profiles-daemon,
#backlight,
#network,
#wireplumber,
#cpu,
#memory,
#custom-power {
  margin-right: 10px;
  margin-left: 10px;
}

/*#network {
	font-family: "Droid Sans", "Font Awesome 6 Brands", "Iosevka Nerd Font", "Material Icons", "JetBrains Mono Nerd Font", "Fira Code", "DejaVu Sans Mono", monospace;
	font-size: 12px;
}
*/

#power-profiles-daemon.power-saver {
  color: #a9b665;
}
#power-profiles.balanced {
  color: #d8a657;
}
#power-profiles-daemon.performance {
  color: #ea6962;
}

#idle_inhibitor.activated {
  color: #ea6962;
}
#idle_inhibitor.deactivated {
  color: #fbf1c7;
}

#custom-notifications {
  font-family: "Iosevka Nerd Font Propo";
}
#custom-power {
  color: #ea6962;
  border-radius: 25px;
  background: #5a524c;
  padding: 1px;
}

#battery.Charging {
  color: #89b482;
}

#submap.resize {
  color: #ea6962;
}

#bluetooth.off {
  color: #e78a4e;
}
#bluetooth.on {
  color: #89b482;
}
/*#tray {
  margin: 0 0 0 0;
  padding: 2px 15px 2px 2px;
}
#tray menu menuitem:hover {
	background-color: red;
	color: green;
}*/
#tray menu {
    background-color: #32302f;
    border: 1px solid #905b15;
    color: #d4be98;
    font-size: 22px;
    padding: 4px;
}
#tray menu menuitem {
    padding-top: 3px; padding-bottom: 3px;
    font-size: 22px;
}
#tray menu menuitem:hover {
    background-color: #6d4c23;
}
/*
#custom-t2u_led.on,
#custom-t2u_led.not-network.on {
    color: #50fa7b;
}

#custom-t2u_led.off,
#custom-t2u_led.not-network.off {
    color: #ff5555;
}

#custom-t2u_led.missing,
#custom-t2u_led.not-network.missing {
    color: #888888;
}
*/
