[Unit]
Description=Update /etc/issue on boot
Before=getty@tty1.service getty@tty2.service getty@tty3.service getty@tty4.service getty@tty5.service getty@tty6.service 

[Service]
Type=oneshot
#RemainAfterExit=true
ExecStart=/bin/bash -c 'sudo -u nobody echo -e "\n\e[1;36m  Arch-Linux \e[33m(\l)\e[0m\n\n" > /etc/issue && neofetch --disable title underline uptime packages shell resolution theme icons term | tee -a /etc/issue'

[Install]
WantedBy=multi-user.target
